# IDEs
.vs/
.vscode/
.idea/

# MkDocs
site/

# Python
.venv/
__pycache__/
*.py[cod]
.cache/

# Security
letsencrypt/
certbot/
*.log
*.env
*.pem
*.crt
*.key
*.p12

# OS
.DS_Store
Thumbs.db

# Other
.qodo
0xfab1/
